@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Account


<section class="bread-crumb">
    <div class="container">
        <ul class="breadcrumb">
            <li class="home">
                <a href="/home"><span>Trang chủ</span></a>
                <span class="mr_lr">&nbsp;/&nbsp;</span>
            </li>
            <li><strong><span>Đăng nhập tài khoản</span></strong></li>
        </ul>
    </div>
</section>
<form method="post">
    <section class="section">
        <div class="container">
            <div class="wrap_background_aside page_login">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xl-4 offset-0 offset-xl-4 offset-lg-4 offset-md-3 offset-xl-3 col-12">
                        <div class="row">
                            <div class="page-login pagecustome clearfix">
                                <div class="wpx">
                                    <h1 class="title_heads a-center">
                                        <span>Đăng nhập</span>
                                    </h1>
                                    <span class="block a-center dkm margin-top-10">
                                        Nếu bạn chưa có tài khoản,
                                        <a href="/Account/Register" class="btn-link-style btn-register">
                                            đăng ký tại đây
                                        </a>
                                    </span>
                                    <div class="section">
                                        <div class="form-signup clearfix">
                                            <div class="form-group">
                                                @*<input type="email" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,63}$" class="form-control form-control-lg" value="" name="email" id="customer_email" placeholder="Email" required="">*@
                                                @*<input type="email" class="form-control form-control-lg" asp-for="Email" placeholder="Email" autocomplete="off" required="">*@
                                                <input type="email" class="form-control form-control-lg" asp-for="Email" placeholder="Email" autocomplete="off" required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-lg" asp-for="Password" placeholder="Mật khẩu" autocomplete="off" required="">
                                            </div>
                                            <div class="form-group">
                                                <div class="text-danger" style="color:red">
                                                    @*@ViewBag.Message*@
                                                    @Html.ValidationSummary()  <!--thông báo lỗi-->
                                                </div>
                                            </div>
                                            <div class="pull-xs-left">
                                                @*<input class="btn btn-style btn_50" type="submit" value="Đăng nhập">*@
                                                <button class="btn btn-style btn_50" type="submit">Đăng Nhập</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@*
<div class="img1">
    <img src="img.png" />
    <input type="file" />
</div>
<style>
    img1 {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        background: #dfdfdf;
    }
</style>
<script>
    const image = document.querySelector("img");
    const input = document.querySelector("input");

    input.addEventListener("change", () => {
        image.src = URL.createObjectURL(input.files[0]);
    });

    image.addEventListener("click", () => {
        input.click();
    });
</script>
<style>
    .image-upload-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 200px;
        border: 2px dashed #ccc;
        border-radius: 5px;
        cursor: pointer;
    }

        .image-upload-container:hover {
            border-color: #aaa;
        }

        .image-upload-container .upload-text {
            font-size: 16px;
            color: #555;
            margin-bottom: 10px;
        }

        .image-upload-container img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

    #imageUpload {
        display: none;
    }
</style>
<form>
    <label for="imageUpload" class="image-upload-container">
        <div class="upload-text">Chọn hình ảnh</div>
        <img id="previewImage" src="" alt="Preview" />
    </label>
    <input type="file" id="imageUpload" accept="image/*" onchange="previewFile(event)" />
</form>
<script>
    function previewFile(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function () {
            var dataURL = reader.result;
            var imgElement = document.getElementById("previewImage");
            imgElement.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>
*@


