@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodywrap">
    <section class="bread-crumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>

                <li><strong><span>Giới thiệu</span></strong></li>

            </ul>
        </div>
    </section>
    <section class="page">
        <div class="container">
            <div class="pg_page padding-top-15">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title category-title">
                            <h1 class="title-head"><a href="#">Giới thiệu</a></h1>
                        </div>
                        <div class="content-page rte">

                            <p>Là công ty hoạt động trong lĩnh vực bán lẻ và sửa chữa các sản phẩm công nghệ.</p>
                            <p>ND Tech</p>
                            <p>Sau hơn 10 năm vận hành và phát triển không ngừng, hệ thống bán lẻ ND Tech liên tục mở rộng với chuỗi hơn 5 cửa hàng tại hơn 3 tỉnh/thành phố trên toàn quốc và tự hào là 1 trong những nơi uy tín tại Việt Nam trong lĩnh vực công nghệ.</p>
                            <p>Tầm nhìn:</p>
                            <p>
                                Xây dựng một doanh nghiệp vững mạnh về tài chính và vững chãi về đời sống tinh thần.<br>
                                Doanh nghiệp hạnh phúc và phụng sự, góp phần xây dựng xã hội phồn vinh.<br>
                                Phủ sóng tất cả các tỉnh/ thành phố lớn tại Việt Nam cung cấp các sản phẩm giá tốt, mang lại sự an tâm, tin tưởng và các trải nghiệm hài lòng cho khách hàng.
                            </p>
                            <p>Cam kết của công ty</p>
                            <p>
                                Đem đến cho khách hàng các sản phẩm giá tốt, mang lại sự an tâm, tin tưởng.<br>
                                Đem đến cho nhân viên một môi trường làm việc thân thiện, có nhiều cơ hội phát triển.<br>
                                Đem đến cho quản lý một sân chơi công bằng để thể hiện, đảm bảo cuộc sống sung túc.<br>
                                Đem đến cho mọi đối tác sự hợp tác chặt chẽ, tôn trọng lẫn nhau &amp; đôi bên cùng phát triển.
                            </p>
                            <p>Mục tiêu hướng tới</p>
                            <p>
                                Phát triển cá nhân: Tạo ra môi trường bình đẳng cho các thành viên phát huy năng lực cá nhân &amp; có một đời sống đầy đủ, sung túc cả về vật chất lẫn đời sống tinh thần.<br>
                                Môi trường làm việc: Xây dựng môi trường làm việc đoàn kết, thương yêu nhau trên giá trị cốt lõi của tình huynh đệ.
                            </p>
                            <p>Đóng góp xã hội: Tạo ra hàng ngàn việc làm, đóng thuế đầy đủ. Tích cực tham gia các hoạt động thiện nguyện, cứu trợ các hoàn cảnh khó khăn trong xã hội..</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

