
@{
    ViewData["Title"] = "AccountInfo";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="page-inner">

    <header class="page-title-bar">
        <div class="d-flex flex-column flex-md-row">
            <p class="lead">
                <span class="font-weight-bold">Xin Chào, @Model.HoTen.</span>
                <span class="d-block text-muted">Thông Tin Tài Khoản Của Bạn</span>
            </p>
        </div>
    </header>

    <div class="page-section">
        <div class="section-block">
            <div class="metric-row">
                <form>
                    Test thông tin account
                </form>
            </div>
        </div>
    </div>
</div>