@model WebSite_Online1a.Models.Account

@{
    ViewData["Title"] = "Edit account";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-inner">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <a asp-controller="AccountAdmin" asp-action="Index">Quản Lý Accounts</a>
            </li>
            <li class="breadcrumb-item active">
                Chỉnh Sửa Account: @Model.Email
            </li>
        </ol>
    </div>
    <hr class="my-10">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AccountId" />
        <div class="col-md-5">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label class="form-control-label">Role:</label>
            <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
        </div>
        <div class="col-md-5">
            <label>Trạng Thái Tài Khoản:</label>
            @Html.DropDownListFor(model => model.Status, new SelectList((IEnumerable<AccountStatus>)ViewBag.AccountStatus, "Value", "TrangThaiTaiKhoan"), new { @class = "form-control" })
        </div>
        <div class="col-md-5">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="HoTen" class="control-label"></label>
            <input asp-for="HoTen" class="form-control" />
            <span asp-validation-for="HoTen" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="Sdt" class="control-label"></label>
            <input asp-for="Sdt" class="form-control" />
            <span asp-validation-for="Sdt" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <hr class="my-10">
        <div class="col-md-5">
            <button asp-action="Edit" class="btn btn-danger" id="btn">Lưu</button> |
            <button asp-action="Index" class="btn btn-outline-secondary" id="btn1">Quay về</button>            
        </div>
    </form>

</div>
