
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#f02b2b" />
    <link rel="canonical" href="">
    <meta name='revisit-after' content='2 days' />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="noodp,index,follow" />
    <meta name="description" content="">
    <title>ITech Store</title>
    <meta name="keywords" content="Cập nhật sau">


    <meta property="og:type" content="website">
    <meta property="og:title" content="ND Tech">
    <meta property="og:image" content="https:~/Asset/100/449/923/themes/875305/assets/logo.png?1681121784559">
    <meta property="og:image:secure_url" content="https:~/Asset/100/449/923/themes/875305/assets/logo.png?1681121784559">

    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="ND Tech">


    <link rel="icon" href="~/Asset/100/449/923/themes/875305/assets/favicon.png?1681121784559" type="image/x-icon" />
    <link rel="preload" as="script" href="~/Asset/100/449/923/themes/875305/assets/jquery.js?1681121784559" />
    <script src="~/Asset/100/449/923/themes/875305/assets/jquery.js?1681121784559" type="text/javascript"></script>
    <link rel="preload" as="script" href="~/Asset/100/449/923/themes/875305/assets/cookie.js?1681121784559" />
    <script src="~/Asset/100/449/923/themes/875305/assets/cookie.js?1681121784559" type="text/javascript"></script>
    <link rel="preload" as="script" href="~/Asset/100/449/923/themes/875305/assets/swiper.js?1681121784559" />
    <script src="~/Asset/100/449/923/themes/875305/assets/swiper.js?1681121784559" type="text/javascript"></script>
    <link rel="preload" as="script" href="~/Asset/100/449/923/themes/875305/assets/lazy.js?1681121784559" />
    <script src="~/Asset/100/449/923/themes/875305/assets/lazy.js?1681121784559" type="text/javascript"></script>
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/main.scss.css?1681121784559">
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/index.scss.css?1681121784559">
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/404page.scss.css?1681121784559">
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/bootstrap-4-3-min.css?1681121784559">
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/quickviews_popup_cart.scss.css?1681121784559">
    <style>
        :root {
            --mainColor: #ff5c00;
            --textColor: #231f20;
        }
    </style>
    <link rel="stylesheet" href="~/Asset/100/449/923/themes/875305/assets/bootstrap-4-3-min.css?1681121784559">
    <link href="~/Asset/100/449/923/themes/875305/assets/main.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as='style' type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <link href="~/Asset/100/449/923/themes/875305/assets/font.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/index.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/quickviews_popup_cart.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />




    <link href="~/Asset/100/449/923/themes/875305/assets/breadcrumb_style.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/product_style.scss.css?1681121784559">
    <link href="~/Asset/100/449/923/themes/875305/assets/product_style.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />


    <link href="~/Asset/100/449/923/themes/875305/assets/blog_article_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/sidebar_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />


    <link href="~/Asset/100/449/923/themes/875305/assets/style_page.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/contact_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />

    <link href="~/Asset/100/449/923/themes/875305/assets/collection_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/quickviews_popup_cart.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />


    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/cartpage.scss.css?1681307816797">
    <link href="~/Asset/100/449/923/themes/875305/assets/cartpage.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />

    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/page-compare.scss.css?1681307816797">
    <link href="~/Asset/100/449/923/themes/875305/assets/page-compare.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />

    <link href="~/Asset/100/449/923/themes/875305/assets/account_oder_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />

    <link rel="shortcut icon" type="image/x-icon" href="~/Asset/100/449/923/themes/875305/assets/favicon.png" />
    <link rel="preload" href="Content/web/fonts/Segoe UI/Segoe UI.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="Content/web/fonts/Segoe UI/Segoe UI Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="Content/web/fonts/Segoe UI/Segoe UI Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="Content/web/fonts/Segoe UI/Segoe UI Bold Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="Content/web/fonts/Segoe UI/Segoe UI Semilight.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="Content/web/fonts/Segoe UI/Segoe UI Semilight Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="Content/web/fonts/icon/fonts/hoangha.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" as="script" href="js-css/web_v1.1.8.0.js">
    <link rel="preload" as="style" href="js-css/web_v1.1.8.0.css">
    <link href="js-css/web_v1.1.8.0.css" rel="stylesheet" type="text/css">
    <style>
        .product-center .current-product-price label.text-green {
            display: none
        }
    </style>
    <script>
        window.insider_object = {};
    </script>
    <script>
        window.theme = window.theme || {};
        theme.settings = {
            moneyFormat: "{{amount_no_decimals_with_comma_separator}}₫",
        };
    </script>
    <style>
        :root {
            --gradient1: #eb3349;
            --gradient1_2: #f45c43;
            --gradient3: #092477;
            --gradient4: #3a529b;
            --pricecolor: #ff5c00;
        }
    </style>  
    <script>
        var Bizweb = Bizweb || {};
        Bizweb.store = 'nd-tech.mysapo.net';
        Bizweb.id = 449923;
        Bizweb.theme = { "id": 875305, "name": "ND Tech - Update thông sỗ kỹ thuật done -  Main", "role": "main" };
        Bizweb.template = 'index';
        if (!Bizweb.fbEventId) Bizweb.fbEventId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    </script>
    <script>
        (function () {
            function asyncLoad() {
                var urls = ["//newproductreviews.sapoapps.vn/assets/js/productreviews.min.js?store=nd-tech.mysapo.net"];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            };
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();
    </script>
    <script>
        window.BizwebAnalytics = window.BizwebAnalytics || {};
        window.BizwebAnalytics.meta = window.BizwebAnalytics.meta || {};
        window.BizwebAnalytics.meta.currency = 'VND';
        window.BizwebAnalytics.tracking_url = 's';

        var meta = {};


        for (var attr in meta) {
            window.BizwebAnalytics.meta[attr] = meta[attr];
        }
    </script>
    <script src="~/Asset/dist/js/stats.min.js?v=69e02f0"></script>
    <script>
        $(document).ready(function ($) {
            awe_lazyloadImage();
        });
        function awe_lazyloadImage() {
            var ll = new LazyLoad({
                elements_selector: ".lazyload",
                load_delay: 100,
                threshold: 0
            });
        } window.awe_lazyloadImage = awe_lazyloadImage;
    </script>
    <script>
        const io = new IntersectionObserver((e, t) => { e.forEach(e => { e.isIntersecting && (e.target.src = e.target.dataset.src, e.target.classList.add("loaded"), t.unobserve(e.target)) }) }), bo = new IntersectionObserver((e, t) => { e.forEach(e => { if (e.isIntersecting) { const r = e.target; r.style.backgroundImage = r.dataset.background, e.target.classList.add("loaded"), t.unobserve(e.target) } }) });
        document.addEventListener("DOMContentLoaded", function () {
            const arr = document.querySelectorAll('.lazy')
            arr.forEach((v) => {
                io.observe(v);
            })
            const arrBg = document.querySelectorAll('.lazy_bg')
            arrBg.forEach((v) => {
                bo.observe(v);
            })
        })
    </script>

    @*<script src="~/js/JavaScript.js"></script>*@

</head>
<body>
    <style>
        html, body {
            height: 100%;
        }

        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1 0 auto;
        }

        .footer {
            flex-shrink: 0;
        }
    </style>

    <div class="wrapper">
        <div class="content">
            @await Html.PartialAsync("_HeaderPartialView.cshtml")
            @*@await Html.PartialAsync("_HeaderPartialView.cshtml", new Account())*@
            @RenderBody()
        </div>
        <footer class="footer">
            @await Html.PartialAsync("_FooterPartialView.cshtml")
        </footer>
    </div>

    @*<div>
           
    </div>
        @await Html.PartialAsync("_HeaderPartialView.cshtml")
    <div >
        @RenderBody()
    </div>

    <div>
        @await Html.PartialAsync("_FooterPartialView.cshtml")
    </div>*@


    @*<!-- thay đổi slide panner -->
    <script>
    var swiper = new Swiper('.home-slider', {
    autoplay: false,
    pagination: {
    el: '.home-slider .swiper-pagination',
    clickable: true,
    },
    navigation: {
    nextEl: '.home-slider .swiper-button-next',
    prevEl: '.home-slider .swiper-button-prev',
    },
    });
    </script>
    <!-- thay đổi slide panner -->*@


    <!-- thông báo sweetalert-->
    <style>
        /* Chỉnh kích thước của hộp thông báo */
        .swal2-popup {
            font-size: 0.6rem; /* Kích thước chữ trong hộp thông báo */
        }

        /* Chỉnh kích thước của nút */
        .swal2-actions .swal2-confirm,
        .swal2-actions .swal2-cancel {
            font-size: 0.8rem; /* Kích thước chữ trong nút */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- thông báo sweetalert-->

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

    <script src="~/Asset/jquery-3.6.4.min.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
