
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>ITech Store</title>
    <link rel="icon" href="~/Asset/100/449/923/themes/875305/assets/favicon.png?1681121784559" type="image/x-icon" />
    <link rel="preload" as="script" href="~/Asset/100/449/923/themes/875305/assets/jquery.js?1681121784559" />
    <script src="~/Asset/100/449/923/themes/875305/assets/jquery.js?1681121784559" type="text/javascript"></script>
    <link rel="preload" as="script" href="~/Asset/100/449/923/themes/875305/assets/cookie.js?1681121784559" />
    <script src="~/Asset/100/449/923/themes/875305/assets/cookie.js?1681121784559" type="text/javascript"></script>
    <link rel="preload" as="script" href="~/Asset/100/449/923/themes/875305/assets/swiper.js?1681121784559" />
    <script src="~/Asset/100/449/923/themes/875305/assets/swiper.js?1681121784559" type="text/javascript"></script>
    <link rel="preload" as="script" href="~/Asset/100/449/923/themes/875305/assets/lazy.js?1681121784559" />
    <script src="~/Asset/100/449/923/themes/875305/assets/lazy.js?1681121784559" type="text/javascript"></script>
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/main.scss.css?1681121784559">
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/index.scss.css?1681121784559">
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/404page.scss.css?1681121784559">
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/bootstrap-4-3-min.css?1681121784559">
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/quickviews_popup_cart.scss.css?1681121784559">
    <style>
        :root {
            --mainColor: #ff5c00;
            --textColor: #231f20;
        }
    </style>
    <link rel="stylesheet" href="~/Asset/100/449/923/themes/875305/assets/bootstrap-4-3-min.css?1681121784559">
    <link href="~/Asset/100/449/923/themes/875305/assets/main.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as='style' type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <link href="~/Asset/100/449/923/themes/875305/assets/font.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/index.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/quickviews_popup_cart.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />

    <link href="~/Asset/100/449/923/themes/875305/assets/breadcrumb_style.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/product_style.scss.css?1681121784559">
    <link href="~/Asset/100/449/923/themes/875305/assets/product_style.scss.css?1681121784559" rel="stylesheet" type="text/css" media="all" />


    <link href="~/Asset/100/449/923/themes/875305/assets/blog_article_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/sidebar_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />


    <link href="~/Asset/100/449/923/themes/875305/assets/style_page.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/contact_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />

    <link href="~/Asset/100/449/923/themes/875305/assets/collection_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Asset/100/449/923/themes/875305/assets/quickviews_popup_cart.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />


    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/cartpage.scss.css?1681307816797">
    <link href="~/Asset/100/449/923/themes/875305/assets/cartpage.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />

    <link rel="preload" as='style' type="text/css" href="~/Asset/100/449/923/themes/875305/assets/page-compare.scss.css?1681307816797">
    <link href="~/Asset/100/449/923/themes/875305/assets/page-compare.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />

    <link href="~/Asset/100/449/923/themes/875305/assets/account_oder_style.scss.css?1681307816797" rel="stylesheet" type="text/css" media="all" />

    <link rel="shortcut icon" type="image/x-icon" href="~/Asset/100/449/923/themes/875305/assets/favicon.png" />

    <style>
        :root {
            --gradient1: #006666;
            --gradient1_2: #006666;
            --gradient3: #336699;
            --gradient4: #336699;
            --pricecolor: #30916e;
        }
        /*:root {
            --gradient1: #eb3349;
            --gradient1_2: #f45c43;
            --gradient3: #092477;
            --gradient4: #3a529b;
            --pricecolor: #ff5c00;
        }*/
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            @await Html.PartialAsync("_HeaderPartialView.cshtml")
            @RenderBody()
        </div>
        <footer class="footer">
            @await Html.PartialAsync("_FooterPartialView.cshtml")
        </footer>
    </div>

    <!-- thông báo sweetalert-->
    <style>
        /* Chỉnh kích thước của hộp thông báo */
        .swal2-popup {
            font-size: 0.6rem; /* Kích thước chữ trong hộp thông báo */
        }

        /* Chỉnh kích thước của nút */
        .swal2-actions .swal2-confirm,
        .swal2-actions .swal2-cancel {
            font-size: 0.8rem; /* Kích thước chữ trong nút */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- thông báo sweetalert-->
    <script src="~/Asset/dist/js/stats.min.js?v=69e02f0"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script src="~/Asset/jquery-3.6.4.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
